.wrapper{
  width: 100%;
  margin: auto;
}
nav a {
  font-size: 1.5em;
  padding: 10px 20px;
  text-decoration: none;
  margin-bottom: 30px;
  background-color: #eee;
  border-radius: 4px;
  width: 300px;
  text-align: center;
}
nav a:visited, a:link {
  color: #607d8b;
}
nav a:hover {
  color: #039be5;
  background-color: #cfd8dc;
}
nav a.active {
  color: #039be5;
}
